<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Quiz de Esportes</title>
</head>

<body>

    <h1>Quiz de Esportes</h1>

    <h2>Escolha o nível:</h2>

    <form action="quiz" method="post">

        <input type="radio"
               name="nivel"
               value="facil"
               checked>

        Fácil

        <br>

        <input type="radio"
               name="nivel"
               value="dificil">

        Difícil

        <br><br>

        <input type="submit"
               value="Começar Quiz">

    </form>

</body>

</html>